body {
  font-family: "open sans";
  font-size: 20px;
}

h2 {
  font-family: "Roboto";
}

#more {
  display: none;
}

#more1 {
  display: none;
}

#more2 {
  display: none;
}

/* .form-group {
  padding-left: 42%;
} */
